
.contact-info {
    list-style: none;
    color: white;
    padding: 0;
    margin: 0;
    font-size: 0.9m;
    
  }
  .form-control {
    margin: 5px 0;
  }
  
  form textarea {
    width: 20em;
  }
